@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
}

body {
  margin: 0;
}

#game_board {
  height: 300px; 
  width: 300px;
  border: solid black 1px;
  display: grid; 
  grid-template-columns: repeat(3, 100px); 
  grid-template-rows: repeat(3, 100px);
}

.cell {
  border: solid black 1px;
}